<ion-header>
	<ion-toolbar color="primary">

		<ion-buttons slot="start" class="btnMenu">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>

		<ion-title text-center>
			<img class="title-image" alt="logo" height="40" src="assets/images/jandaia.png">
		</ion-title>

	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-row>
		<ion-col>
			<ion-label>TUDO COMEÇOU NA RUA JANDAIA</ion-label>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col>
			A trajetória da Jandaia começou em 1956 com uma pequena gráfica, localizada no centro da cidade de São
			Paulo, na rua Jandaia, que fabricava impressos gráficos, cadernos e listas telefônicas.
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			Com seu crescimento após anos de operação na cidade de São Paulo, a gráfica foi transferida para Caieiras,
			situada no interior de São Paulo, provendo assim, as condições necessárias para a evolução da empresa.
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			Focados nas oportunidades de crescimento, em meados da década de 70, a indústria de papel Gordinho Braune,
			localizada em Jundiaí, foi adquirida pela então Indústria Gráfica Jandaia.
			Além do crescimento das indústrias, abriu-se uma operação atacadista, o Atacado Jandaia, especializado em
			materiais de escritório e escolar localizado na cidade de São Paulo.
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			Atualmente o Grupo Bignardi é um dos grandes fabricantes de cadernos do Brasil e o maior fabricante
			brasileiro de papel reciclado para impressão e escrita.
		</ion-col>
	</ion-row>


	<ion-row>
		<ion-col>
			Fundada no primeiro dia de janeiro de 1956, temos a missão de produzir os melhores cadernos e agendas do
			Brasil!
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			Material Escolar de primeira qualidade.
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			A gente quer ser seu caderno!!!
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			Entre em contato com a gente!
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-icon name="call"></ion-icon> 0800 165656
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-icon name="send"></ion-icon> m.me/cadernosjandaia
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-icon name="mail"></ion-icon> sac@jandaia.com
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-icon name="globe"></ion-icon> https://jandaia.com
		</ion-col>
	</ion-row>
</ion-content>