<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title text-center>
      <img class="title-image" alt="logo" height="40" src="assets/images/jandaia.png">
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-row>
	 	<ion-col>
			Fundada no primeiro dia de janeiro de 1956, temos a missão de produzir os melhores cadernos e agendas do Brasil!
	    </ion-col>
	</ion-row>
	<ion-row>
	 	<ion-col>
	 		Material Escolar de primeira qualidade. 
	    </ion-col>
	</ion-row>
	<ion-row>
	 	<ion-col>
	 		A gente quer ser seu caderno!!!
	    </ion-col>
	</ion-row>
	<ion-row>
	 	<ion-col>
			Entre em contato com a gente!
	    </ion-col>
	</ion-row>
	<ion-row>
	  	<ion-col>
	  		<ion-icon name="call"></ion-icon> (011) 3124-4221
	    </ion-col>
	  </ion-row>
	<ion-row>
	  	<ion-col>
	  		<ion-icon name="send"></ion-icon> m.me/cadernosjandaia
	    </ion-col>
	  </ion-row>
	<ion-row>
	  	<ion-col>
	  		<ion-icon name="mail"></ion-icon> sac@jandaia.com
	    </ion-col>
	  </ion-row>
	<ion-row>
	  	<ion-col>
  			<ion-icon name="globe"></ion-icon> http://cadernosjandaia.com.br
    	</ion-col>
    </ion-row>
</ion-content>