* {
font-family: LondrinaSolid !important;
font-weight: normal;
}

ion-label {
font-family: LondrinaSolid !important;
font-weight: bold;
}

.welcome-card {
	webkit-box-shadow: none !important;
    box-shadow: none !important;
}
