<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-row>
  	<ion-col text-center>
    	<img src="assets/imgs/logo-jandaia-digital.png"/>
    </ion-col>
  </ion-row>
  <ion-row>
	<ion-col text-center>
		Faça seu login
	</ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
		<button ion-button block (click)="loginFb()" class="loginBtn loginBtn--facebook">
    		Login with Facebook
  		</button>
  	</ion-col>
</ion-row>


</ion-content>