<div class="page-loader">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>

<ion-app>

  <app-login-page
    *ngIf="loginWasChecked && !( fb_isLoggedIn || wp_isLoggedIn )" 
    (loginWp)='loginWp($event)'
    (registerWp)='registerWp($event)'
    (loginFb)='loginFb($event)'    
  ></app-login-page>

  <ion-split-pane *ngIf="loginWasChecked && (fb_isLoggedIn || wp_isLoggedIn)">
    <ion-menu>
      <ion-header>

        <ion-toolbar>

          <div text-center *ngIf="fb_isLoggedIn">
            <img class="user-rounded-img" src="{{fb_users.picture.data.url}}" width="100" alt="{{fb_users.name}}" />
            <br/>
          </div>

          <div text-center *ngIf="!fb_isLoggedIn">
            <img class="user-rounded-img" src="assets/images/default-user-image.jpg" width="100" />
            <br/>
          </div>

          <div text-center *ngIf="wp_isLoggedIn">
            <h2>Olá, {{wp_users.display_name}} !</h2>
            <button ion-button block (click)="logoutWp()">Sair</button>
          </div>

          <div text-center *ngIf="fb_isLoggedIn">
            <h2>Olá, {{fb_users.name}} !</h2>
            <!-- class="loginBtn loginBtn--facebook" -->
            <button ion-button block (click)="logoutFb()">Sair</button>
          </div>

        </ion-toolbar>

      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" style="color:#006699">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>

</ion-app>