<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Novo membro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bgImage">

  <form #crudUser="ngForm">

    <!-- <pre>{{ fb_isLoggedIn | json }}</pre>
<pre>{{ fb_users | json }}</pre>
<pre>{{ wp_isLoggedIn | json }}</pre>
<pre>{{ wp_users | json }}</pre> -->

    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/logo-jandaia-digital.png" class="percent60" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center style="color:#006699">
        Faça seu cadastro
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-item lines="none">
          <ion-input required type="text" [(ngModel)]="username" name="crudUser.username" placeholder="Nome do usuário"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-item lines="none">
          <ion-input required type="email" [(ngModel)]="email" name="crudUser.email" placeholder="E-mail"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-item lines="none">
          <ion-input required type="password" [(ngModel)]="password" name="crudUser.password" placeholder="Senha"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-item lines="none">
          <ion-input required type="password" [(ngModel)]="password_confirm" name="crudUser.password_confirm"
            placeholder="Repita a senha"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="password_confirm != password">
      <ion-col text-center>
        <ion-label>
          Senhas não coincidem
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-label>
          todos os campos são obrigatórios
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button (click)="register()" class="acessarBtn" type="submit" block [disabled]="crudUser.invalid" >Cadastrar</button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>