<ion-header>
    <ion-toolbar color="primary">
  
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-title text-center>
        <img class="title-image" alt="logo" height="40" src="assets/images/jandaia.png">
      </ion-title>
  
      <ion-buttons slot="end">
        <button ion-button icon-only (click)="addEvent()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header>

<ion-content padding>

<ion-grid>
  <ion-row>
    <ion-col>
      Horário
    </ion-col>
    <ion-col>
      Segunda
    </ion-col>
    <ion-col>
      Terça
    </ion-col>
    <ion-col>
      Quarta
    </ion-col>
    <ion-col>
      Quinta
    </ion-col>
    <ion-col>
      Sexta
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
